{% extends 'planner/layout.html' %}

{% block body %}
<h3>My Tasks</h3>

<div class="table-responsive">
<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Task</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr class="task-row">
                <td>{{ task.title }}</td>
                <td>{{ task.desc }}</td>
                <td>{{ task.due_date }}</td>
                <td>
                    <input 
                        type="checkbox"
                        class="task-checkbox"
                        data-id="{{ task.id }}"
                        {% if task.status == "done" %}checked{% endif %}
                    >
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">You have not been assigned any tasks yet.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% block script %}
<script>
document.addEventListener("DOMContentLoaded", function () {

    console.log("Script Loaded");

    document.querySelectorAll(".task-row").forEach(row => {
        const checkbox = row.querySelector(".task-checkbox");

        if (checkbox.checked) {
            row.classList.add("done");
        }
    });

    document.querySelectorAll(".task-checkbox").forEach(box => {

        box.addEventListener("change", function () {

            console.log("CHANGE EVENT:", this.dataset.id);

            const checkbox = this;
            const row = checkbox.closest(".task-row");
            const taskId = checkbox.dataset.id;

            console.log("Sending fetch...");

            fetch(`/task/${taskId}/toggle/`, {
                method: "POST",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                }
            })
            .then(response => response.json())
            .then(data => {

                console.log("Server returned:", data);

                if (data.status === "done") {
                    row.classList.add("done");
                } else {
                    row.classList.remove("done");
                }

            })
            .catch(error => {

                console.log(error);

                checkbox.checked = !checkbox.checked;

                alert("Couldn't update task.");

            });

        });

    });

});


function getCookie(name) {

    let cookieValue = null;

    if (document.cookie && document.cookie !== "") {

        document.cookie.split(";").forEach(cookie => {

            cookie = cookie.trim();

            if (cookie.startsWith(name + "=")) {

                cookieValue = decodeURIComponent(
                    cookie.substring(name.length + 1)
                );

            }

        });

    }

    return cookieValue;
}
</script>
{% endblock %}  

{% endblock %}